@font-face {
    font-family: 'COUTURE';
    src: url('fonts/subset-COUTURE-Bold.eot');
    src: url('fonts/subset-COUTURE-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-COUTURE-Bold.woff2') format('woff2'),
        url('fonts/subset-COUTURE-Bold.woff') format('woff'),
        url('fonts/subset-COUTURE-Bold.ttf') format('truetype'),
        url('fonts/subset-COUTURE-Bold.svg#COUTURE-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
	font-family: 'Monotype Corsiva';
	src: url('fonts/monotype_corsiva.eot');
	src: url('fonts/monotype_corsiva.eot?#iefix') format('embedded-opentype'),
		url('fonts/monotype_corsiva.woff2') format('woff2'),
		url('fonts/monotype_corsiva.woff') format('woff'),
		url('fonts/monotype_corsiva.ttf') format('truetype'),
		url('fonts/monotype_corsiva.svg#monotype_corsiva') format('svg');
}
@font-face {
    font-family: 'Montserrat_Regular';
    src: url('fonts/subset-Montserrat-Regular.eot');
    src: url('fonts/subset-Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Montserrat-Regular.woff2') format('woff2'),
        url('fonts/subset-Montserrat-Regular.woff') format('woff'),
        url('fonts/subset-Montserrat-Regular.ttf') format('truetype'),
        url('fonts/subset-Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat_Bold';
    src: url('fonts/subset-Montserrat-Bold.eot');
    src: url('fonts/subset-Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Montserrat-Bold.woff2') format('woff2'),
        url('fonts/subset-Montserrat-Bold.woff') format('woff'),
        url('fonts/subset-Montserrat-Bold.ttf') format('truetype'),
        url('fonts/subset-Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PT Serif';
    src: url('fonts/subset-PTSerif-Regular.eot');
    src: url('fonts/subset-PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-PTSerif-Regular.woff2') format('woff2'),
        url('fonts/subset-PTSerif-Regular.woff') format('woff'),
        url('fonts/subset-PTSerif-Regular.ttf') format('truetype'),
        url('fonts/subset-PTSerif-Regular.svg#PTSerif-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quite Chocolatey';
    src: url('fonts/subset-QuiteChocolatey.eot');
    src: url('fonts/subset-QuiteChocolatey.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-QuiteChocolatey.woff2') format('woff2'),
        url('fonts/subset-QuiteChocolatey.woff') format('woff'),
        url('fonts/subset-QuiteChocolatey.ttf') format('truetype'),
        url('fonts/subset-QuiteChocolatey.svg#QuiteChocolatey') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    /* font-family: 'COUTURE', sans-serif; */
    /* font-family: 'Monotype Corsiva', serif; */
    /* font-family: 'Montserrat_Regular', sans-serif; */
    /* font-family: 'Montserrat_Bold', sans-serif; */
    font-family: 'PT Serif', serif;
    font-weight: 400;
    /* font-family: 'Quite Chocolatey', serif;     */
}
.header_fon {
    background-image: url('images/Group_11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 38px 0px 156px 0px;
}
.header_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 38px;
}
.logo {
    color: #d03958;
    font-family: 'Quite Chocolatey', serif;
    font-size: 88px;
    line-height: 33px;
    letter-spacing: -1.2px;
} 
.header_menu {
    max-width: 520px;
}
.menu_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
.menu_item--link {
    text-decoration: none;
    color: #1b1b1b;
    font-family: 'Montserrat_Regular', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: -0.36px;
    padding: 12px 15px;
}
.menu_item--link:hover {
    background-color: #d03958;
    color: #ffffff;
    border-radius: 5px;
}
.header_heading_input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 156px;
}
.header_heading {
    width: 100%;
    /* height: auto; */
}
.header_input {
    width: 75%;
    /* height: auto; */
    padding: 33px 23px 28px 24px;
    background-color: #d03958;
    text-align: center;
    border-radius: 5px;
    margin-left: 100px;
}
.input_text {
    color: #ffffff;
    font-family: 'Montserrat_Regular', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: -0.44px;
    margin-bottom: 37px;
}
.form_input {
    width: 100%;
    background-color: #ffffff;
    padding: 22px 0px 20px 19px;
    border-radius: 5px;
    margin-bottom: 17px;
    /* z-index: 1; */
}
.form_input::-webkit-input-placeholder {
    color: #b5b5b5;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.4px;
}
.form_submit {
    background-color: #161616;
    color: #ffffff;
    font-family: 'Montserrat_Regular', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: -0.44px;
    text-decoration: none;
    border-radius: 5px;
    padding: 20px 165px 20px 140px;
}
.form_submit:hover {
    color: #d03958;
}

.header_heading--one, .header_heading--two {
    color: #161616;
    font-family: 'Montserrat_Bold', sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1.8px;
}
.header_heading--one {
    
    color: #d03958;
}
.header_text {
    color: #161616;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
    margin-top: 47px;
}
.main_services {
    background-color: #ffffff;
    padding: 45px 0px 64px 0px;
}
.services_headings {
    color: #d03958;
    font-family: 'COUTURE', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.services_heading {
    margin-left: 18px;
    color: #161616;
}
.main_card_one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 90px;
}
.services_card {
    max-width: 17%;
    text-align: center;
}
.services_card--text {
    color: #161616;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
}
.far, .fas {
    color: #e3d5b8;
}
.fa-heart {
    font-size: 142px;
    margin-top: 7px;
    margin-bottom: 46px;
}
.fa-tools {
    font-size: 137px;
    margin-top: 11px;
    margin-bottom: 50px;
}
.fa-lightbulb {
    font-size: 155px;
    margin-bottom: 44px;
}
.fa-compass {
    font-size: 150px;
    margin-top: 6px;
    margin-bottom: 43px;
}
.far:hover {
    color: #d03958;
}
.fas:hover {
    color: #d03958;
}
.main_story {
    background-color: #d03958;
    padding: 31px 0px 28px 0px;
}
.main--story {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.button_story {
    width: 269px;
    background-color: #e3d5b8;
    padding: 24px 76px 23px 65px;
    text-decoration: none;
    border-radius: 6px;
    color: #161616;
    font-family: 'Montserrat_Regular', sans-serif;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: -0.46px;
}
.button_story:hover {
    background-color:#b5b5b5;
    color:  #ffffff;
}
.story_text {
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
    max-width: 59%;
}
.main_pricing {
    background-color: #e3d5b8;
    padding-top: 65px;
    text-align: center;
}
.pricing_heading {
    color: #1f1f1f;
    font-family: 'Montserrat_Bold', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.main_card_two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 59px;
}
.pricing_card {
    width: 32%;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 35px 55px 13px 58px;
}
.card_name, .card_conditions {
    color: #161616;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.44px;
}
.card_price {
    margin-top: 38px;
    color: #d03958;
    font-family: 'Montserrat_Bold', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1.2px;
}
.card_conditions {
    margin-top: 30px;
    margin-bottom: 37px;
    font-size: 20px;
}
.button_pricing {
    background-color: #e3d5b8;
    padding: 17px 60px 15px 55px;
    border-radius: 4px;
    color: #161616;
    font-family: 'Montserrat_Regular', sans-serif;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: -0.44px;
    text-decoration: none;
}
.button_pricing:hover {
    background-color: #d03958;
    color: #ffffff;
}
.free {
    padding: 17px 83px 15px 79px;
}
.main_testgal {
    background-color: #ffffff;
    padding: 154px 0px 119px 0px;
}
.testgal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.testimonial, .gallery {
    width: 500px;
    height: auto;
    /* text-align: center; */
}
.gallery {
    width: 416px;
}
.testimonial_heading, .gallery_heading {
    color: #1f1f1f;
    font-family: 'Montserrat_Bold', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-left: 82px;
}
.gallery_heading {
    color: #d03958;
    margin-left: 57px;
}
.testimonial_card--one, .testimonial_card--two {
    background-color: #ffffff;
    width: 439px;
    margin-top: 41px;
    border-radius: 3px;
    position: relative;
    padding: 19px 77px 18px 26px;
}
.testimonial_text, .testimonial_client {
    color: #161616;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
}
.testimonial_client {
    color: #d03958;
    font-family: 'Montserrat_Regular', sans-serif;
    margin-top: 23px;
}
.testimonial_card--two {
    margin-top: 62px;
    background-color: #e3d5b8;
}
.testimonial_card--one::after {
    content: '';
    background-image: url('images/2-layers_guy.png');
    background-repeat: no-repeat;
    width: 133px;
    height: 133px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    bottom: 29px;
    right: -61px;
}
.testimonial_card--two::after {
    content: '';
    background-image: url('images/2-layers_boy.png');
    background-repeat: no-repeat;
    width: 133px;
    height: 133px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    bottom: 10px;
    right: -61px;
}
.gallery_pictures {
    width: 416px;
    margin-top: 51px;
    margin-bottom: 46px;
}
.gallery_href {
    color: #d03958;
    font-family: 'Montserrat_Regular', sans-serif;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    margin-left: 63px;
}
.gallery_href:hover {
    text-decoration: none;
    color: #b6b6b6;
}
.footer_fon {
    background-color: #161616;
    padding: 73px 0px 63px 0px;
}
.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_fon .logo {
    font-size: 64px;
    line-height: 24px;
    margin-top: 10px;
}
.copyright_text, .footer_copyright {
    color: #ffffff;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.4px;
}
.footer_copyright {
    color: #d03958;
}
.container {    
    max-width: 1060px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}